<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/imgs/pngwing.com.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastroEntregador.css') }}">
    <title> Cadastro Entregador | Nargas Delivery </title>
</head>
<body>
    <div class="topContainer">
        <h1>Seja um parceiro ou entregador Nargas Delivery :)</h1>
    </div>

    <div class="centerContainer">
        <h1 class="centerCont_title">🏍️ Cadastro Entregador 🏍️</h1>
        </br>
        <form name="deliveryRegister" action="" method="POST">
            <label for="name">
                Nome Completo:
                <input type="text" name="name" id="name">
            </label></br>

            <label for="">
                Cpf:
                <input type="text" name="cpf" id="cpf">
            </label></br>

            <label for="">
                Sexo:
                <input type="radio" name="sexo" id="masculino" value="masculino">Masculino
                <input type="radio" name="sexo" id="feminino" value="feminino">Feminino
            </label></br>

            <label for="">
                Data Nascimento:
                <input type="date" name="dataNascimento" id="dataNascimento">
            </label></br>

            <label for="">
                Tipo Veiculo:
                <input type="radio" name="tipoVeiculo" id="moto" value="moto">Moto
                <input type="radio" name="tipoVeiculo" id="bicicleta" value="bicicleta">Bicicleta
            </label></br>

            <label for="">
                Modelo:
                <input type="text" name="modelo" id="modelo">
            </label></br>
            
            <label for="">
                Cor:
                <input type="text" name="cor" id="cor">
            </label></br>

            <label for="">
                Placa:
                <input type="text" name="placa" id="placa">
            </label></br>

            <label for="">
                Cnh:
                <input type="text" name="cnh" id="cnh">
            </label></br>

            <label for="">
                Renavam:
                <input type="text" name="renavam" id="renavam">
            </label></br>

            <label for="">
                Telefone:
                <input type="tel" name="telefone" id="telefone">
            </label></br>

            <label for="">
                E-mail:
                <input type="email" name="email" id="email">
            </label></br>

            <label for="">
                Pais:
                <input type="text" name="pais" id="pais">
            </label></br>

            <label for="">
                Estado:
                <input type="text" name="estado" id="estado">
            </label></br>

            <label for="">
                Municipio:
                <input type="text" name="municipio" id="municipio">
            </label></br>

            <label for="">
                Senha:
                <input type="text" name="senha" id="municipio">
            </label></br>

            <input type="submit" value="cadastrar" id="cadastrar">

        </form>
    </div>
</body>
</html>